<div class="hero"><br />
  <div class="frosty col-10 offset-1"><br />
    <h1>Learn Magic and The Dark Arts of Coding</h1><br />
    <h2>Brought to you by BryceCreamCone</h2><br /><%=link_to 'Learn More', '#', class: 'btn btn-success'%><br /><br />
    <a
      href="https://unsplash.com/@s_erwin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
      target="_blank" rel="noopener noreferrer"
      title="Download free do whatever you want high-resolution photos from Sam Erwin">
      <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <title>unsplash-logo</title>
          <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg>
      </span>
      <span>Photo Credit: Sam Erwin</span>
    </a>
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3><br />
    <p>Choose from Any Number of courses to study with Amazing Teachers</p>
  </div>
  <br />
  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3><br />
    <p>Enroll and Access a Courses Archive of Lessons</p>
  </div>
  <br />
  <div class="col-12 col-sm">
    <h3>Join The Community</h3><br />
    <p>Learn with a Community of Like-Minded individuals</p>
  </div>
</div>