<br />

<div class="booyah-box col-10">
  <h1>Team</h1><hr class="col-8">
  <h4 class="text-center">I do all the coding, but her support makes her an integral part of any team I'm on</h4><br />
  <div class="jumbotron text-center">
    <%= image_tag "BryceBrittany_Kat'sWedding.jpg", class: 'img-fluid',
    style: 'border-radius:10px;border:2px solid black;' %>
  </div>
  <p class="text-center">
      Like what you see? Check out my Github, LinkedIn, and/or send me an email!
  </p>
</div>