 @import "bootstrap";
 @import "jquery-ui/core.css";
 @import "static_pages";
 @import "courses";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1 0 auto;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('mosaic.png');
}

.navbar-dark a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.booyah-box {
  box-shadow: 1px 1px 2px 0 #000;
  background: #4c7725;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  h1, h2 {
    margin: 10px;
  }
}

.footer-sticky {
  flex-shrink: 0;
  background-color: black;
}

.clr {
  clear: both;
}

.invalid-feedback {
  color: white;
  background-color: black;
  width: fit-content;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

